<div class="container main__container">
    <div class="container form__container">
        <form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()">

            
                        <!-- customer form group-->
                        <div formGroupName="_customer" class="area form-area">
                            <h2>Customer</h2>
                            <div class="row">
                                <div>First Name</div>
                                <div>
                                    <div class="input input-space">
                                        <input formControlName="firstName" type="text">
                                        <!-- TODO: Validator is not currently working for some random reason-->
                                        <div *ngIf="firstName && firstName.invalid" class="alert alert-danger mt-1">
                                           
                                            <div *ngIf="firstName.errors?.['required']">
                                                First Name is required
                                            </div>
            
                                            <div *ngIf="firstName.errors?.['minLength']">
                                                First Name must be at least 2 characters
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="row">
                                <div>Last Name</div>
                                <div class="input input-space">
                                    <input formControlName="lastName" type="text">
                                </div>
                            </div>
            
                            <div class="row">
                                <div>Email</div>
                                <div class="input input-space">
                                    <input formControlName="email" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- customer form group-->
                        <div formGroupName="message" class="area form-area">
                            <h2>Message</h2>
                            <div class="row">
                                <div>Enter your Message</div>
                                <div>
                                    <div class="input input-space">
                                        <input formControlName="theMessage" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

            <!-- submit button-->
            <div class="container button__container">
                <button type="subtmit" class="btn btn__submit">Send Message</button>
            </div>
        </form>
        
    </div>
</div>