<div class="container signup__container">
	<div class="signup__form">
		<h1>Sign Up</h1>
		<form [formGroup]="registerFromGroup" (ngSubmit)="onSubmit()">
			<input formControlName="firstName" type="text" placeholder="First name"/>
			<br/>
			<input formControlName="lastName" type="text" placeholder="Surname"/>
			<br/>
			<input formControlName="email" type="text" placeholder="Email address"/>
			<br/>
			<input formControlName="username" type="text" placeholder="New username"/>
			<br/>
			<input formControlName="password" type="text" placeholder="New password"/>
			<br/>
			<input formControlName="displayName" type="text" placeholder="New nametag"/>

			<h5>Getting to know you a little more</h5>
			<input formControlName="street" type="text" placeholder="Address"/>
			<input formControlName="city" type="text" placeholder="City"/>
			<input formControlName="state" type="text" placeholder="State"/>
			<input formControlName="zipCode" type="text" placeholder="Zip Code"/>
			
			
			<div class="btn__container">
				<button type="submit" class="btn btn-primary">Sign up</button>
			</div>

		</form>
	</div>
</div>