<div class="container signup__container">
	<div class = "container hero__container">
		<img class ="hero__image" src="../../../assets/pexels-jane-doan-1099680 (1).jpg" alt="">

	</div>

	<div class="signup__form">
		<h1 >Sign Up</h1>
		<form [formGroup]="registerFromGroup" (ngSubmit)="onSubmit()">
			<input formControlName="firstName" type="text" placeholder="First Name"/>
			<br/>
			<input formControlName="lastName" type="text" placeholder="Last Name"/>
			<br/>
			<input formControlName="email" type="text" placeholder="Email Address"/>
			<br/>
			<input formControlName="username" type="text" placeholder="New Username"/>
			<br/>
			<input formControlName="password" type="text" placeholder="New Password"/>
			<br/>
			<input formControlName="displayName" type="text" placeholder="New Nametag"/>

			<input formControlName="street" type="text" placeholder="Address"/>
			<input formControlName="city" type="text" placeholder="City"/>
			<input formControlName="state" type="text" placeholder="State"/>
			<input formControlName="zipCode" type="text" placeholder="Zip Code"/>
			
			
			<div class="btn__container">
				<button type="submit" class="btn btn-primary">Sign up</button>
			</div>
			<h3> <a routerLink="login" class="aboutheader__btn">Already have an account? Log In</a></h3>
		</form>
	</div>
</div>