/* main page style*/
:host{
    /* css variables */
    /* for easy to update the page colors */

    /* colors */
    --color-bg: white;
    --color-bg-variant: #2a9d8f;
    --color-primary: #e76f51;
    --color-primary-variant: #f4a261;
    --color-white:#fff;
    --color-black:rgb(0, 0, 0);
    --color-light:#e9c46a;

    /* container */
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    /* transition */
    --transition: all 400ms ease;

}

