.login__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.hero__container{
    grid-column-start: 1;
    grid-column-end: 2;
}

.form__container{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: auto;
}

.hero__image{
    object-fit: cover;
    margin:0;
    width: 100%;
    height: 1000px;

}

.alert{
    grid-row-start: 1;
    grid-row-end: 2;
}

.form{
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 100px;
}
.btn{
    background-color:var(--color-btn); 
    color: var(--color-black);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    font-family: "Georgia", Times, serif;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

input{
    width: 70%;
    height: 40px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
}

::placeholder{
    font-size: 20px;
    color: var(--color-light);
}

.login__title{
    font-weight: 2em;
}

h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 
}
 #rememberMe{
   width: auto;
   height: auto;
   text-align: left;
}

/* MEDIA QUERIES */

/* MD DEVICES */
@media screen and (max-width:1024px) {
    

 }
 
 /* SM DEVICES */
 @media screen and (max-width:600px) {
    
 }