<div class="container about__container">
    <header class="about__header">
        <h1 colass="about__log">Foody</h1>
        <nav class="header__nav">
            <ul class="headernav__list">
                <li class="headernav__item">
                    <button>Problems</button>
                </li>

                <li class="headernav__item">
                    <button>Solutions</button>
                </li>

                <li class="headernav__item">
                    <button>Resources</button>
                </li>
            </ul>
        </nav>
        <nav class="aboutheader__ctaNav">
            <a routerLink="login" class="aboutheader__btn">Sign in &#11088;</a>
        </nav>
        
    </header>

    <h5>FOR PEOPLE WITH DECISION PROBLMES</h5>
    <h2>We are here to help.</h2>
    
</div>