<div class="container main__container">
    <div class="container form__container">

        <div class="container info__container">
            <h1>Foody</h1>
            <h2>Let me pick the food so you don't have to !</h2>
        </div>

        <div class="container userinput__container">
            <form [formGroup]="searchFormGroup" (ngSubmit)="search()">
                <div class="area form__area" formGroupName="searchInfo">
                    <div class="label form__label">Search around</div>
                    
                    <div class="input input__space">
                        <input formControlName="address" type="text">
                    </div>

                    <div class="label form__label">Radius</div>

                    <div class="input input__space">
                        <select formControlName="radius" type="text">
                            <option value="1609">1 mile</option>
                            <option value="8046">5 miles</option>
                            <option value="16000">10 miles</option>
                            <option value="40000">25 miles</option>
                        </select>
                    </div>
                </div>
                <!-- submit button-->
                <div class="container button__container">
                    <button type="subtmit" class="btn btn__submit">Search</button>
                </div>
            </form>
            
        </div>
        
    </div>

    <div class="container display__container" *ngFor="let tempBusiness of businesses">
        <div class="card business__card">
            <h1>{{ tempBusiness.name }}</h1>
            <h2>Rating: {{tempBusiness.rating}}</h2>
            <h2>{{ tempBusiness.price}}</h2>
            <h2>Location </h2>
            <p *ngFor="let tempDisplay_location of tempBusiness.location.display_address">{{tempDisplay_location}}</p>
        </div>

        <div class="card img__card">
            <img [src]="tempBusiness.image_url" alt="">
        </div>
    </div>

</div>