
.header__container{
    font-family: 'Silkscreen', cursive;
    background: var(--color-primary);
    color: white;
    display: grid;
    grid-template-columns: 70% 10%;
    gap: 20%;
}
.logo__container{
    height: 70%;
}
img{
    height: 50px;
    position: relative;
    top: 30%;
    bottom: 50%;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: block;
}
nav{
    /* put to top */
    z-index: 2;
    display: block;
    display: flex;
    padding: 16px;
   

}
ul{
    list-style: none;
    display: flex;
    padding-left: 2rem;
}
li{
    padding-left: 1rem;
}

