
.header__container{
    font-family: "Georgia", Times, serif;
    background: var(--color-primary-variant2);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 20px;
}
.navbar__container{
    grid-column-start: 2;
    grid-column-end: 3;
    
}
.logo__container{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 70%;
}

.logo{
    height: 50px;
    position: relative;
    top: 30%;
    bottom: 50%;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

nav{
    /* put to top */
    z-index: 2;
    display: flex;
    padding: 16px;
    top: 3%;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

li a:hover {
    background: var(--color-hover);
}

/* MEDIA QUERIES */

/* MD DEVICES */
@media screen and (max-width:1024px) {
    .header__container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .navbar__container{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .logo__container{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

}

/* SM DEVICES */
@media screen and (max-width:600px) {
    

}
