
.header__container{
    font-family: "Georgia", Times, serif;
    background: var(--color-primary-variant2);
    color: white;
    display: grid;
    grid-template-columns: 70% 10%;
    gap: 20%;
    margin-bottom: 20px;
}
.logo__container{
    height: 70%;
}
img{
    height: 50px;
    position: relative;
    top: 30%;
    bottom: 50%;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    display: block;
}
nav{
    /* put to top */
    z-index: 2;
    display: block;
    display: flex;
    padding: 16px;
    top: 3%;

}

li a:hover {
    background: var(--color-hover);
  }

ul{
    list-style: none;
    display: flex;
    padding-left: 2rem;
}
li{
    padding-left: 1rem;
}

